<div class="container">

    <div class="row">
        <div class="jumbotron">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">מה אנחנו מציעים <strong>בקסם היער?</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border-left rounded z-depth-4" src="../../assets/img/images/images01/slide-2.jpg" alt="">
            </div>
            <div class="col-md-6 mt-5">
                <p><span class="bold">מיקום:</span> גליל עליון, יישוב: ביריה.</p>
                <p><span class="bold">ייעוד:</span> משפחות וזוגות.</p>
                <p><span class="bold">מפרט היחידות:</span> 5 בקתות.</p>
                <p><span class="bold">מפרט הצימר:</span></p>
                <ul>
                    <li>ג`קוזי זוגי עגול מוקף נרות.</li>
                    <li>קמין עצים (בחלק מהיחידות).</li>
                    <li>מיטה זוגית.</li>
                    <li>מזגן בצימר.</li>
                    <li>פינת אוכל מעץ.</li>
                    <li>פינת ישיבה.</li>
                    <li>מרפסת פרטית עם שולחן וכסאות.</li>
                </ul>
                <p><span class="bold">מטבח מאובזר:</span> פינת קפה, קומקום חשמלי, מקרר, מיקרוגל, כלי הגשה.</p>
                <p><span class="bold">מולטימדיה:</span> מסך 32 אינץ`, חבילת ערוצים בלוויין, DVD.</p>
                <p><span class="bold">מפרט החצר:</span> <br>בריכת שחייה מפנקת, מיטת שיזוף, ערסלים, מדשאה, מנגל, ספסלים, תאורה רומנטית צבעונית לשעות הערב, פינת ישיבה מול הנוף, נדנדה, ריהוט גן, עצים, פרחי נוי.</p>
                <p><span class="bold">נוף:</span><br> נוף גלילי קסום, בין עמוקה לצפת העתיקה, בלב ליבו של חורש טבעי ירוק.</p>
                <p><span class="bold">הערות:</span><br> אפשרות לסידור והזמנה: ארוחת בוקר בתיאום מול המארחים.</p>
                <p><span class="bold">הערות נוספות:</span> ניתן לקבל מהמארחים ייעוץ למסלולי הליכה או אטרקציות באזור.</p>
                <p><span class="bold">בקרבת הצימר:</span> מסלולי טיולים, מסעדות, טרקטורונים, ג`יפים, יער ביריה, רפטינג, סקי בחרמון, יקבים ועוד אטרקציות לכל גיל לבחירתכם, בנוסף תחוו חוויה מדהימה בצפת, בה יטיילו וילמדו על העיר העתיקה, יבקרו בבתי כנסת ובמבנים עתיקים יחד עם ההיסטוריון דויד בן סימון
                אם ישנן שאלות נוספות נשמח לענות עליהן בסבלנות רבה.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="jumbotron">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">חוויה <strong>מדהימה!</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive rounded z-depth-4 img-thumbnail" src="../../assets/img/images/images01/bottom-pic2.jpg">
                <h3>ג'קוזי מפנק
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive rounded z-depth-4 img-thumbnail" src="../../assets/img/images/images01/bottom-pic1.jpg">
                <h3>בריכת שחייה ענקית
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive rounded z-depth-4 img-thumbnail" src="../../assets/img/images/images01/bottom-pic3.jpg">
                <h3>מיטה זוגית מרווחת
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
<!-- /.container -->